<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/images/Logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivals War</title>
    <link rel="stylesheet" href="/stylesheets/menu.css">
    <style>
        body{
         width: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        body{
            padding-top: 80px;
			width: 100%;
        }

        .noi-dung-1 {
            padding: 20px;
            text-align: center;
            color: black;
			height: 130%;
			background-image: url("/images/banner2.png");
			background-repeat: no-repeat;
			background-size: 100%;
			z-index: 1;
        }
		
		.noi-dung-2 {
			background-color: green;
			height: 100%;
			width: 100%;
			overflow: hidden;
		}
		
		.banner-2 {
			display: flex;
			animation: scrollBanner 30s linear infinite;
		}
		
		.banner-2-1 {
			flex: 0 0 100%;
			padding-top: 30% !important;
		}
		
		.banner-2-2 {
			flex: 0 0 100%;
			padding-top: 30% !important;
		}
		
		.banner-2-3 {
			flex: 0 0 100%;
			padding-top: 30% !important;
		}
		
		.banner-2-4 {
			flex: 0 0 100%;
			padding-top: 30% !important;
		}
		
		.xem-them-1 {
			margin-left: 10% !important;
			color: #007bff;
			text-decoration: none !important;
			z-index: 1;
		}
		
		.xem-them-2 {
			margin-left: 10% !important;
			color: #007bff;
			text-decoration: none !important;
			z-index: 1;
		}
		
		.xem-them-3 {
			margin-left: 10% !important;
			color: #007bff;
			text-decoration: none !important;
			z-index: 1;
		}
		
		.xem-them-4 {
			margin-left: 10% !important;
			color: #007bff;
			text-decoration: none !important;
			z-index: 1;
		}
		
		@keyframes scrollBanner {
            0% {
                transform: translateX(0%);
            }
            30% {
                transform: translateX(0%);
            }
            31% {
                transform: translateX(-100%);
            }
            70% {
                transform: translateX(-100%);
            }
            71% {
                transform: translateX(-200%);
            }
            99% {
                transform: translateX(-200%);
            }
			100% {
				transform: translateX(0%);
			}
        }
		
		.ten{
			font-family: Algerian;
			font-size: 50px;
		}
		
		.footer{
			height: 8%;
			background: linear-gradient(90deg, black, gray);
			text-align: center;
			color: violet;
			padding-top: 3%;
		}
    </style>
</head>
<body>

    <div class="menu">
        <div class="logo">
            <a href="/"><img src="/images/Logo.png" alt="Logo"></a>
        </div>
        <div class="menu-trai">
            <a class="menu-trai-items" href="/">Home</a>
            <a class="menu-trai-items" href="/News">News</a>
            <a class="menu-trai-items" href="/About">About</a>
            <a class="menu-trai-items" href="/Contact">Contact</a>
        </div>
		<div class="menu-phai">
			<button id="login" onclick=" window.location.href = '/TaiKhoan';">
				<i class="fa-solid fa-user"></i>
			</button>
			<button><a href="/Attack_Card" style="text-decoration: none; color: white;"> Attack Card </a></button>
			<button id="def-button"><a href="/Defense_Card" style="text-decoration: none; color: white;"> Defense Card </a></button>
			<button id="htp-button"><a href="/H2P" style="text-decoration: none; color: white;"> How to play </a></button>
		</div>
    </div>

    <div class="noi-dung-1">
        <div class="Ten">Rivals War</div>
    </div>
	
	<div class="noi-dung-2">
		<div class="banner-2">
			<div class="banner-2-1">
			
				<a class="xem-them-1" href="#1">Xem thêm...1</a>
			</div>
			<div class="banner-2-2">
			
				<a class="xem-them-2" href="#2">Xem thêm...2</a>
			</div>
			<div class="banner-2-3">
			
				<a class="xem-them-3" href="#3">Xem thêm...3</a>
			</div>
			<div class="banner-2-4">
			
				<a class="xem-them-4" href="#4">Xem thêm...4</a>
			</div>
		</div>
	</div>

	<div class="footer">
		directed by Son & Son
	</div>
	
</body>
</html>
